.template_header {
    position: absolute;
    max-width: 100%;
    height: 50px;
    background-color:#f8ead0;
}

.gallery_logo {
    display: flex;
    width: 200px;
    height: 50px;
}
.nav{
    position: absolute;
    display: inline-block;
    left: 65%;
    top: -30%;
    margin: 5px;
    padding: -5px;
}


.btn{
    border: none;
    background-color: #f8ead0;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    padding: -5px;
} 
.btn:hover{
    background-color: #eaa21a;
    color: white;
}
.btn_active {
    background-color: #eaa21a;
}
.body{
    position: relative;
    max-width: 100%;
}
.body_icons {
    position: relative;
    max-width: 100%;
    margin: 0%;
    font-size: 0%;
}
.icon{
    position: relative;
    display: inline-block;
    text-align: center;
}
.p{
position: absolute;
top: 50%;
right: 50%;
}
.template_links {
    width: 100%;
    height: 70px;
    margin-top: -5px;
    background-color: #e5b865;
}
.logo {
    position: relative;
    display: inline-flex;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    left: 43%;
    background-color: white;
}
.footer {
    position: relative;
    margin-top: -25px;
    width: 100%;
    height: 40px;
    background-color: #b79450;
}
.footer_text {
    position: relative;
    text-align: center;
    top: 50%;
}
